{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block styesheets %}
	<style>
		button {
			background: rgb(255, 123, 0);
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger text-center">No has podido iniciar la sesión, por favor revisa tus credenciales.</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Ya te has logueado cómo
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<div class="row justify-content-center">
				<div class="col-12 text-center mt-5"><img src="{{ asset('img/logo2.png') }}" width="600" alt=""></div>
				<div class="bg-light col-8 justify-content-center text-center">
					<h1 class="h1 mb-3 font-weight-normal text-center col-12 mt-5">Iniciar Sesión</h1>
					<div class="col-12">
						<label for="inputCorreo">Usuario</label>
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
					</div>
					<div class="col-12 mt-1 mb-1"></div>
					<div class="col-12">
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


					<div class="col-12"></div>

					<button class="col-12 btn btn-lg btn-block mt-3 boton" type="submit" style="background-color: rgb(255,123,0);color:white; box-shadow: 3px 4px 0px 3px black;">
						Iniciar sesión
					</button>

					<div class="col-12 text-center mt-4">
						<a href="{{ path('registro') }}">Registrarse</a>
					</div>
					<div class="col-12 text-center mt-2 mb-5">
						<a href="{{ path('forget_password') }}">¿Olvidó su contraseña?</a>
					</div>
				</div>
			</div>
		</form>
	</div>

	{{ include('footer.html.twig') }}
{% endblock %}
