{% extends 'base.html.twig' %}

{% block title %}

	Cambiar contraseña


{% endblock %}
{% block stylesheets %}
	<style>
		#titulo {
			background-color: rgb(255, 123, 0);
			margin-top: 0;
		}
	</style>
{% endblock %}
{% block body %}
	{{ include('cabecera.html.twig') }}

	{% block contenido %}
		<div class="container">

			<div id="titulo">
				<div class="container">
					<div class="row ">
						<h1 class="col-12 text-center mt-4 mb-4" style="color:white;">Cambiar Contraseña</h1>
					</div>
				</div>
			</div>


			<div class="row justify-content-between mt-3 mr-3 ml-3">
				{% if app.user.admin == 1 %}
					<div class="col-12 col-md-4">
						<a href="{{ path('empleados_index') }}" class="col-12  mb-2 btn btn-primary">Lista de empleados</a>
					</div>
				{% endif %}
				<div class="col-12 col-md-4">
					<a href="{{ path('clientes_index') }}" class="col-12  mb-2 btn btn-primary">Lista de clientes</a>
				</div>
			</div>


			<hr>
			<div class="row">
				<div class="col-12 text-center text-danger mt-4">
					<p>¿SEGURO QUE QUIERES CAMBIAR LA CONTRASEÑA?</p>
					<p>Una vez realizado no podrás volver a atrás.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-8">
					{{ form_start(form) }}
					{{ form_row(form.password) }}
					<button class="btn btn btn-block btn-success">
						{{ button_label|default('Cambiar contraseña') }}</button>
					{{ form_end(form) }}
				</div>
			</div>


		</div>
	{% endblock %}
{% endblock %}
